*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


body{
    font-family:sans-serif, "popins";
    background: url(https://s3-alpha-sig.figma.com/img/da33/9603/36e630daa6b7d759f4f0e3b57552bf8f?Expires=1649030400&Signature=HHdCmpHlJKpeLjHgiADwiGp88-UvNtXa~oAUJWnq9HVtnNnbJcBxGaARnmQhuIRwobqJEB3VMCbH79x3n4Xzdoo3cRXKKH02hj7zKe0LOQRgpfsKPxHHySQVs4NvDAMPspbwUtq7ZQFTf46naoV8o-o0MMuxX39b1kMia1yuqEjqI~WJE04wxEK3NmZianN9cnotR~eyLKPc3OM12tpvH8QFe7CjRBa60uH0jrr4UmkrUWqo2uPBZmKPBHaSI-s0tOOm-UM9we2hQ5rp6t3U9FTAp7DHTW-XARqQq3CRdDsyYdd6oricZcqx9cvHAIxoRynpCl04LQxPN3Spr5LGjw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar ul li{
    list-style: none;
    margin: 0 27px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
a:hover{
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-top: 20px;
}
.navbar h1{
    margin-bottom: 5px;
    font-weight: bolder;
}
.list{
    display: flex;
}

section{
    text-align: center;
    margin-top: 100px;
}
section h2{
    color: #fff;
    font-size: 35px;
}
section h1{
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
section p{
    width: 400px;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
}
.showcase-title{
    font-size: 70px;
}
.btn{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: larger;
    cursor: pointer;
}
.btn2{
    width: 40%;
    border: none;
    border-radius: 50px;
    position: relative;
    background: url(https://s3-alpha-sig.figma.com/img/da33/9603/36e630daa6b7d759f4f0e3b57552bf8f?Expires=1649030400&Signature=HHdCmpHlJKpeLjHgiADwiGp88-UvNtXa~oAUJWnq9HVtnNnbJcBxGaARnmQhuIRwobqJEB3VMCbH79x3n4Xzdoo3cRXKKH02hj7zKe0LOQRgpfsKPxHHySQVs4NvDAMPspbwUtq7ZQFTf46naoV8o-o0MMuxX39b1kMia1yuqEjqI~WJE04wxEK3NmZianN9cnotR~eyLKPc3OM12tpvH8QFe7CjRBa60uH0jrr4UmkrUWqo2uPBZmKPBHaSI-s0tOOm-UM9we2hQ5rp6t3U9FTAp7DHTW-XARqQq3CRdDsyYdd6oricZcqx9cvHAIxoRynpCl04LQxPN3Spr5LGjw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-clip: padding-box;
    border: none;
    background-position-x: 90%;
    font-size: 14px;
    margin: 0 14px;
    color: #fff;
    cursor: pointer;
    padding: 3px 10px;
}
.right-side{
    width: 15%;
}

.btn2::after{
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
    content: '';
    z-index: -1;
    border-radius: 50px;
}
.btn3{
    height: 43px;
    width: 15%;
    border: none;
    border-radius: 50px;
    position: relative;
    background: url(https://s3-alpha-sig.figma.com/img/da33/9603/36e630daa6b7d759f4f0e3b57552bf8f?Expires=1649030400&Signature=HHdCmpHlJKpeLjHgiADwiGp88-UvNtXa~oAUJWnq9HVtnNnbJcBxGaARnmQhuIRwobqJEB3VMCbH79x3n4Xzdoo3cRXKKH02hj7zKe0LOQRgpfsKPxHHySQVs4NvDAMPspbwUtq7ZQFTf46naoV8o-o0MMuxX39b1kMia1yuqEjqI~WJE04wxEK3NmZianN9cnotR~eyLKPc3OM12tpvH8QFe7CjRBa60uH0jrr4UmkrUWqo2uPBZmKPBHaSI-s0tOOm-UM9we2hQ5rp6t3U9FTAp7DHTW-XARqQq3CRdDsyYdd6oricZcqx9cvHAIxoRynpCl04LQxPN3Spr5LGjw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-clip: padding-box;
    border: none;
    background-position: 70%;
    font-size: 14px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    padding: 3px 10px;
    margin-bottom: 60px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    font-size: large;
}
.btn3::after{
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
    content: '';
    z-index: -1;
    border-radius: 50px;

  }
